<h2 style="color:#4682B4">Data Cleaning and Preprocessing</h2>


<div style="border-top: 3px solid black"></div>

<h3 style="color:#4682B4">Importing libraries</h3>

In [1]:
# this will help in making the Python code more structured automatically (good coding practice)
%load_ext nb_black
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

sns.set()

# handling dates and times
import datetime

# to do mathematical computations
import math

# a library for visualizing missing data can be very helpful when trying to understand the 'shape' of missing data.
import missingno as msno

# used for regular expressions, which can be very useful when cleaning text data
import re

# scikit-learn has a number of preprocessing functions that can scaling and normalizing data or encoding categorical variables
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder


# Removes the limit for the number of displayed columns
pd.set_option("display.max_columns", None)
# Sets the limit for the number of displayed rows
pd.set_option("display.max_rows", 200)


# to suppress warnings
import warnings

warnings.filterwarnings("ignore")


<div style="border-top: 3px solid black"></div>

<h3 style="color:#4682B4">Loading dataset(s)</h3>

In [2]:
import pandas as pd

# Load the csv files
orders = pd.read_csv('C:/Users/steve/Documents/SuperStore_Project_2023/Superstore_Project_2023/data/orders.csv')
returns = pd.read_csv('C:/Users/steve/Documents/SuperStore_Project_2023/Superstore_Project_2023/data/returns.csv')

# Left Merge the dataframes to include all orders (whether or not tehy have a return
# This will include all rows from the orders dataframe and the matching rows from the returns dataframe. 
# If there is no match, the result is NaN in the columns of the returns dataframe.
df = pd.merge(orders, returns, on='order_id', how='left')


# f-string
print(f"There are {df.shape[0]} rows and {df.shape[1]} columns.")

There are 24061 rows and 38 columns.

<div style="border-top: 3px solid black"></div>

<h3 style="color:#4682B4">Display a sample of the dataframe</h3>

In [3]:
# Create a copy of the data
data = df.copy()

# View a sample of 10 data objects
np.random.seed(1)  # Obtain the same random results every time
data.sample(n=10)

,order_id,order_info_id,order_id_number,order_date,order_weekday,order_month,ship_date,ship_mode,product_id,category,sub_category,product_name,unit_cost,sales,profit,profit_margin,quantity,discount,discount_over_30,region_id,postal_code,city,state,sub_region,salesperson,customer_id,customer_name,segment,return_date,Category,Sales,Profit,Profit Margin,Margin Category,State,Customer Name,return_quantity,reason_returned
9513,ID-2019-3822244,ID-2019,3822244,2019-06-15,Saturday,June,2019-06-15,Second Class,OFF-BI-10002446,Office Supplies,Binders,"Wilson Jones Binder, Economy",7.81,7.81,0.10,0.012804,1,0.15,0,1488,48104,Ann Arbor,Michigan,Central United States,Annelise Williams,JH-15430,Jennifer Halladay,Consumer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9742,ID-2019-4558193,ID-2019,4558193,2019-07-01,Monday,July,2019-07-05,Standard Class,TEC-CO-10003102,Technology,Copiers,"Canon Copy Machine, Color",158.15,1961.04,0.43,0.000219,8,0.50,1,1488,78745,Austin,Texas,Central United States,Annelise Williams,TT-21460,Tonja Turnell,Home Office,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6685,ES-2019-3791943,ES-2019,3791943,2019-06-11,Tuesday,June,2019-06-11,Same Day,OFF-LA-10004737,Office Supplies,Labels,"Avery Shipping Labels, 5000 Label Set",12.24,36.72,0.19,0.005174,3,0.25,0,1488,55407,Minneapolis,Minnesota,Central United States,Annelise Williams,BD-11770,Bryan Davis,Consumer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8725,ID-2019-1199603,ID-2019,1199603,2019-09-17,Tuesday,September,2019-09-19,Same Day,OFF-PA-10004946,Office Supplies,Paper,"SanDisk Note Cards, Multicolor",33.96,36.00,0.24,0.006667,2,0.30,1,1488,60653,Chicago,Illinois,Central United States,Annelise Williams,NL-18310,Nancy Lomonaco,Home Office,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15069,IT-2019-582237,IT-2019,582237,2019-05-27,Monday,May,2019-05-28,Second Class,OFF-BI-10001984,Office Supplies,Binders,"Ibico Binding Machine, Economy",51.42,154.26,0.29,0.001880,3,0.35,1,1488,78207,San Antonio,Texas,Central United States,Annelise Williams,AM-10360,Alice McCarthy,Corporate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11887,IN-2019-3414263,IN-2019,3414263,2019-11-26,Tuesday,November,2019-11-30,Second Class,OFF-BI-10002424,Office Supplies,Binders,"Avery Binder, Economy",12.90,34.83,0.10,0.002871,3,0.15,0,1488,78207,San Antonio,Texas,Central United States,Annelise Williams,EJ-13720,Ed Jacobs,Consumer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13588,IN-2019-609649,IN-2019,609649,2019-11-04,Monday,November,2019-11-04,Second Class,OFF-BI-10002446,Office Supplies,Binders,"Wilson Jones Binder, Economy",7.81,91.14,0.29,0.003182,7,0.35,1,1488,61107,Rockford,Illinois,Central United States,Annelise Williams,JO-15550,Jesus Ocampo,Home Office,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3672,CA-2019-5436242,CA-2019,5436242,2019-09-28,Saturday,September,2019-10-03,Standard Class,OFF-AR-10000940,Office Supplies,Art,Newell 343,2.35,8.82,0.29,0.032880,3,0.35,1,1488,68104,Omaha,Nebraska,Central United States,Annelise Williams,SH-19975,Sally Hughsby,Corporate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17084,MX-2019-2806606,MX-2019,2806606,2019-06-18,Tuesday,June,2019-06-20,Same Day,OFF-SU-10001722,Office Supplies,Supplies,"Stiletto Box Cutter, Easy Grip",25.06,15.04,0.05,0.003324,1,0.10,0,1488,78745,Austin,Texas,Central United States,Annelise Williams,KC-16255,Karen Carlisle,Corporate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10946,IN-2019-2017026,IN-2019,2017026,2019-09-10,Tuesday,September,2019-09-12,Same Day,OFF-LA-10000471,Office Supplies,Labels,"Smead Shipping Labels, 5000 Label Set",10.80,84.00,0.19,0.002262,7,0.25,0,1488,48185,Westland,Michigan,Central United States,Annelise Williams,SC-20380,Shahid Collister,Consumer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN


<div style="border-top: 3px solid black"></div>

<h3 style="color:#4682B4">The following analysis supports the idea of analyzing the orders dataset and returns dataset separately, because only a small fraction of orders (those that were returned) have corresponding entries in both datasets.</h3>

<h4 style="color:#FFA500">OBSERVATION</h4>

##### The NaN in the returns dataset means that there are some returned orders for which the category is not recorded in the returns dataset.
##### The NaN in the returns dataset means that there are some returned orders for which the category is not recorded in the returns dataset.
##### The results indicate that there are 1211 rows where the 'category' column from the orders dataset matches the 'Category' column from the returns dataset. 
##### Conversely, there are 22850 rows where these two columns do not match.
##### This suggests that there are 1211 orders that have been returned, which aligns with the number of rows in the returns dataset. 
##### The remaining 22850 orders have not been returned, which is why there's no match in the 'Category' column from the returns dataset 
##### (those cells are filled with NaN values after the left join operation).
##### This analysis is very similar to the one done with the 'category' and '

In [4]:
print("Unique values in 'category' column from orders dataset:")
print(df['category'].unique())
print("\nUnique values in 'Category' column from returns dataset:")
print(df['Category'].unique())

Unique values in 'category' column from orders dataset:
['Technology' 'Office Supplies' 'Furniture']

Unique values in 'Category' column from returns dataset:
[nan 'Office Supplies' 'Furniture' 'Technology']

In [5]:
df["category_match"] = np.where(df["category"] == df["Category"], "True", "False")
print(df["category_match"].value_counts())
print("\n")

df['category_match_2'] = df['category'] == df['Category']
print(df['category_match_2'].value_counts())

False    22850
True      1211
Name: category_match, dtype: int64


False    22850
True      1211
Name: category_match_2, dtype: int64

In [6]:
print("Unique values in 'sales' column from orders dataset:")
print(df["sales"].unique())
print("\nUnique values in 'Sales' column from returns dataset:")
print(df["Sales"].unique())
print("\n")


df["sales_match"] = np.where(df["sales"] == df["Sales"], "True", "False")
print(df["sales_match"].value_counts())
print("\n")
df["sales_match"] = np.where(
    np.isclose(df["sales"], df["Sales"], atol=0.01), "True", "False"
)
print(df["sales_match"].value_counts())

Unique values in 'sales' column from orders dataset:
[ 95.8    3.43  42.48 ... 627.23  14.83   3.15]

Unique values in 'Sales' column from returns dataset:
[        nan 7.72600e+01 1.30320e+02 9.28800e+01 3.28140e+02 2.74680e+02
 1.47000e+01 2.79900e+02 1.07420e+02 2.95060e+02 3.37200e+01 3.30400e+01
 9.94000e+00 4.41617e+03 3.23500e+01 2.79200e+01 1.41000e+00 4.38600e+01
 1.94400e+01 3.95800e+01 5.45850e+02 4.74950e+02 1.32700e+01 4.66374e+03
 3.50000e+01 1.99800e+02 2.75000e+01 1.01840e+02 3.08400e+01 8.24950e+02
 1.52656e+03 1.63314e+03 3.69600e+01 9.41000e+00 1.59200e+01 1.43400e+01
 1.33600e+01 1.65200e+01 1.98720e+02 8.96000e+00 8.02800e+01 1.13900e+01
 2.44500e+01 1.86900e+01 3.27000e+01 3.81600e+01 1.22710e+02 1.99000e+01
 6.49600e+01 5.55800e+01 1.13940e+02 1.53600e+02 5.69800e+01 2.11200e+01
 4.78240e+02 3.23600e+01 2.21160e+02 1.44000e+01 5.20000e+01 3.00000e+01
 3.42400e+01 4.99170e+02 1.95960e+02 8.59200e+02 2.12400e+01 7.54000e+00
 3.07780e+02 1.34700e+01 1.58669e+03 1.49950e+02 2.51200e+01 7.30100e+01
 4.77300e+02 2.93100e+01 2.77400e+02 1.92878e+03 1.08080e+02 8.92220e+02
 3.34000e+01 2.20060e+02 3.89060e+02 1.37800e+01 3.63920e+02 4.73200e+01
 2.44550e+02 1.11989e+03 2.83500e+01 1.13775e+03 3.39200e+01 5.45920e+02
 1.45900e+02 1.70212e+03 1.52519e+03 2.14950e+02 7.24500e+01 2.46400e+01
 4.36700e+02 7.67500e+01 1.96000e+01 1.62619e+03 2.86700e+01 1.62882e+03
 1.07100e+03 1.81860e+02 2.00520e+02 5.18400e+01 9.59200e+01 4.28500e+01
 1.89200e+01 2.36800e+01 6.01200e+01 1.47827e+03 1.72750e+02 2.29600e+01
 1.46860e+02 7.06800e+01 1.57794e+03 7.29000e+01 4.86900e+01 1.99996e+03
 3.92600e+01 5.95800e+01 9.85200e+02 3.22200e+02 7.66500e+01 6.19200e+01
 6.13200e+01 7.61890e+02 1.17600e+02 2.47200e+01 5.37600e+01 4.38300e+01
 1.12500e+02 1.10250e+02 1.12077e+03 2.29184e+03 4.54500e+01 4.65240e+02
 1.02420e+02 1.80978e+03 4.05090e+02 2.43810e+02 8.28550e+02 1.05120e+02
 8.72400e+01 1.03140e+02 1.53810e+02 1.48510e+02 1.46790e+02 9.18460e+02
 2.26800e+02 7.64400e+01 2.16000e+02 2.60280e+02 3.94200e+01 1.02312e+03
 7.80000e+01 2.28750e+02 2.61630e+02 1.27800e+02 1.89600e+02 2.70900e+01
 4.32600e+02 1.88370e+02 1.48680e+02 1.90300e+02 5.72935e+03 4.06140e+02
 2.55150e+02 1.81620e+02 3.93840e+02 1.12320e+02 7.44070e+02 4.73310e+02
 1.26900e+02 6.70950e+02 2.15730e+02 4.85430e+02 7.11860e+02 3.35660e+02
 5.77530e+02 8.01000e+01 2.22600e+02 8.16300e+01 3.51090e+02 6.66000e+01
 4.40640e+02 1.13820e+02 1.90980e+02 1.46470e+02 4.14102e+03 1.47750e+02
 1.29762e+03 2.60790e+02 2.02230e+02 5.71320e+02 2.93580e+02 1.30560e+02
 1.37160e+02 1.75880e+02 1.81695e+03 1.36500e+02 8.20800e+01 6.18300e+02
 6.76490e+02 1.33200e+02 1.55920e+02 1.42884e+03 4.62737e+03 3.16050e+02
 1.51880e+02 1.89000e+02 2.29181e+03 7.85910e+02 1.21653e+03 2.33280e+02
 2.40300e+02 8.29130e+02 8.14370e+02 2.59610e+02 2.71170e+03 3.85560e+02
 5.68500e+01 6.61320e+02 4.47300e+03 1.16310e+02 7.26000e+01 5.73000e+01
 8.08730e+02 1.80290e+02 2.90200e+02 5.60650e+02 1.62922e+03 9.94800e+01
 5.74470e+02 2.82660e+02 8.53200e+01 5.88820e+02 2.89710e+02 6.18000e+01
 3.40830e+02 9.16410e+02 4.87688e+03 1.36200e+02 5.80600e+01 4.33000e+01
 4.59900e+01 3.66600e+01 8.12000e+01 7.46500e+01 1.61287e+03 2.25500e+01
 8.06900e+01 4.30200e+01 2.67100e+01 8.54780e+02 7.43030e+02 1.11326e+03
 2.97360e+02 3.39150e+02 7.50300e+01 3.62660e+02 1.41461e+03 1.24020e+02
 3.81100e+03 2.86900e+02 3.39190e+02 2.06700e+01 3.58670e+02 5.37700e+02
 7.22470e+02 8.37000e+01 1.46590e+02 3.73680e+02 1.35400e+01 1.60600e+01
 2.40340e+02 7.13700e+01 4.57810e+02 5.33500e+01 9.93000e+01 4.64780e+02
 5.18500e+02 1.33410e+02 6.63400e+01 4.23600e+01 3.72910e+02 4.85500e+01
 1.96400e+01 2.39150e+02 7.27100e+01 9.00400e+01 1.04819e+03 8.83800e+02
 2.95144e+03 8.54000e+00 1.52260e+02 9.77100e+01 4.26600e+02 2.64538e+03
 4.52900e+01 1.59651e+03 1.98480e+02 2.43680e+02 8.84100e+01 6.67560e+02
 2.53392e+03 2.19492e+03 9.14340e+02 4.51800e+02 1.10880e+02 7.73390e+02
 5.40000e+01 1.46844e+03 5.43900e+01 3.59040e+02 1.10770e+02 8.58060e+02
 4.57460e+02 3.01500e+01 2.89800e+02 3.54940e+02 6.30000e+01 8.91760e+02
 6.62170e+02 3.29956e+03 4.56800e+01 6.02380e+02 9.11400e+01 5.87790e+02
 3.13913e+03 8.79500e+01 7.37640e+02 5.29800e+01 5.13000e+01 3.21624e+03
 5.42300e+01 9.09300e+01 1.55880e+02 9.69360e+02 1.48170e+03 3.72960e+02
 2.12950e+03 4.37400e+01 2.06834e+03 1.94190e+02 2.44440e+02 8.53650e+02
 2.71020e+02 1.68720e+02 2.57040e+02 6.74400e+01 2.21830e+02 2.87154e+03
 7.17630e+02 2.18398e+03 2.63540e+02 3.42000e+02 2.41050e+02 6.79200e+01
 3.83460e+02 4.48800e+02 4.55970e+02 5.07120e+02 5.11650e+02 1.00120e+02
 1.09630e+02 1.45050e+02 1.53900e+02 8.78400e+01 6.26630e+02 9.50100e+01
 9.04500e+01 7.71390e+02 2.71440e+02 1.72665e+03 3.66660e+02 1.04873e+03
 7.35660e+02 2.67336e+03 1.34190e+02 1.28223e+03 3.04800e+02 1.60020e+02
 2.75890e+02 2.61469e+03 3.92880e+02 2.86335e+03 2.87280e+02 8.00300e+01
 6.02210e+02 1.55520e+02 2.47050e+03 6.04580e+02 1.71420e+02 6.92300e+01
 1.70590e+02 6.99600e+01 2.11722e+03 5.76000e+02 5.87160e+02 2.27280e+02
 1.06800e+02 1.48140e+02 1.00170e+03 2.63410e+02 2.27610e+02 8.07840e+02
 8.57100e+02 5.14230e+02 1.30220e+02 1.02450e+02 1.27248e+03 1.96920e+02
 1.42926e+03 1.24920e+02 2.20480e+02 2.41300e+02 2.68200e+01 1.07600e+02
 3.42715e+03 3.33480e+02 2.55420e+02 7.12800e+01 5.49360e+02 6.44760e+02
 1.75800e+03 4.77600e+01 4.82490e+02 4.27300e+01 5.38750e+02 4.26970e+02
 2.83043e+03 1.62991e+03 3.85080e+02 2.63880e+02 1.21910e+02 9.57600e+01
 4.57060e+02 2.58430e+02 2.31390e+02 6.70410e+02 1.40184e+03 7.81470e+02
 4.20500e+01 2.87140e+02 6.14400e+01 1.56024e+03 1.36104e+03 1.04330e+02
 4.23000e+01 8.56400e+01 7.77000e+01 7.65360e+02 4.89000e+01 6.58800e+01
 9.18960e+02 1.08360e+02 4.39200e+01 1.04160e+02 5.65320e+02 1.13520e+02
 1.93200e+01 1.69920e+02 3.36000e+01 8.20080e+02 4.35000e+01 3.67200e+01
 8.00000e+01 2.28600e+01 2.59700e+02 7.83000e+01 8.00400e+01 3.10240e+02
 1.43652e+03 2.72200e+02 1.38400e+02 4.53600e+01 3.35500e+01 1.92840e+02
 4.34460e+02 2.81820e+02 1.90800e+01 4.12000e+01 3.03300e+02 8.66060e+02
 1.09380e+02 2.38800e+01 1.70315e+03 9.93600e+01 1.82600e+01 1.17740e+02
 1.06320e+02 1.29220e+02 2.65440e+02 2.47140e+02 7.17410e+02 6.42400e+01
 1.63200e+02 6.79680e+02 1.07480e+03 4.38000e+01 1.04440e+02 3.78600e+01
 4.74800e+02 3.59000e+01 3.03000e+01 8.82000e+01 9.49000e+01 4.15300e+02
 1.75200e+01 1.71000e+02 8.05800e+01 5.16000e+02 1.29000e+01 1.65000e+01
 1.17320e+02 1.60000e+01 2.63200e+01 1.80220e+02 8.18020e+02 1.79900e+02
 1.02880e+02 1.86714e+03 1.18764e+03 2.70560e+02 2.72400e+01 8.90160e+02
 3.44534e+03 1.42200e+02 1.47940e+02 5.77900e+02 9.28200e+02 3.79000e+01
 4.46400e+02 4.23300e+02 2.70900e+02 1.44000e+02 6.11800e+01 8.81000e+01
 3.79160e+02 2.03140e+02 3.30000e+02 1.69277e+03 1.90080e+02 2.74140e+02
 7.95600e+01 1.60800e+01 2.19280e+02 1.69760e+02 9.10400e+01 8.80600e+01
 1.07180e+02 7.55090e+02 5.36800e+02 1.30144e+03 2.26600e+02 8.91530e+02
 4.04040e+02 2.24400e+02 3.83040e+02 1.02400e+02 1.65800e+02 1.19340e+03
 6.62400e+01 1.38560e+02 1.74530e+02 1.93870e+02 3.26190e+02 1.56800e+02
 1.38010e+03 6.77000e+01 1.31760e+02 8.79000e+02 8.56800e+02 1.99080e+02
 1.23500e+01 1.56820e+02 7.24100e+02 2.10200e+01 5.94700e+01 1.97100e+01
 2.19800e+01 7.47600e+01 1.24680e+02 1.10340e+02 2.32080e+02 2.45520e+02
 3.30240e+02 3.44400e+02 3.27240e+02 2.28240e+02 7.32900e+02 3.33840e+02
 1.27680e+02 1.18044e+03 4.72800e+01 3.18200e+01 4.50910e+02 1.24270e+02
 7.09200e+01 2.05200e+01 2.35540e+02 7.03700e+01 8.85600e+01 2.11680e+02
 1.57500e+02 1.21860e+02 2.78400e+01 1.46364e+03 3.64600e+01 5.33680e+02
 1.02700e+01 2.31000e+01 6.56460e+02 1.60930e+02 7.82900e+01 1.98270e+02
 1.59560e+02 1.03500e+02 8.70700e+01 6.10600e+01 1.46610e+02 1.79510e+02
 2.09940e+02 1.41040e+03 3.88800e+01 2.19900e+02 6.71930e+02 5.99100e+01
 6.02600e+01 3.20400e+01 1.21720e+02 1.35580e+02 5.52700e+01 2.19085e+03
 6.53000e+02 3.82800e+01 1.07860e+02 2.31800e+01 1.18650e+02 1.38670e+02
 6.10000e+01 1.70300e+01 1.44480e+02 4.10880e+02 2.58900e+02 3.93100e+01
 5.34700e+01 8.88000e+00 2.47680e+02 2.06532e+03 1.24400e+02 1.88999e+03
 1.17140e+02 4.80000e+01 1.83920e+02 2.72540e+02 1.16500e+01 4.84180e+02
 1.00400e+01 1.10600e+01 1.71360e+02 8.23960e+02 8.11200e+01 7.19300e+01
 6.06000e+01 4.26200e+01 1.20290e+02 2.11170e+02 4.91460e+02 9.52800e+01
 4.11600e+01 2.81340e+02 2.36380e+02 1.10110e+02 2.39280e+02 1.11636e+03
 1.66800e+01 4.84200e+01]


False    22852
True      1209
Name: sales_match, dtype: int64


False    22852
True      1209
Name: sales_match, dtype: int64


<div style="border-top: 3px solid black"></div>

<h3 style="color:#4682B4">Display information about both the orders dataframe and the returns dataframe</h3>

In [7]:
print("Orders DataFrame Info:")
print("----------------------")
orders.info()

Orders DataFrame Info:
----------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24059 entries, 0 to 24058
Data columns (total 28 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          24059 non-null  object
 1   order_info_id     24059 non-null  object
 2   order_id_number   24059 non-null  int64
 3   order_date        24059 non-null  object
 4   order_weekday     24059 non-null  object
 5   order_month       24059 non-null  object
 6   ship_date         24059 non-null  object
 7   ship_mode         24059 non-null  object
 8   product_id        24059 non-null  object
 9   category          24059 non-null  object
 10  sub_category      24059 non-null  object
 11  product_name      24059 non-null  object
 12  unit_cost         24059 non-null  float64
 13  sales             24059 non-null  float64
 14  profit            24059 non-null  float64
 15  profit_margin     24059 non-null  float64
 16  quantity          24059 non-null  int64
 17  discount          24059 non-null  float64
 18  discount_over_30  24059 non-null  int64
 19  region_id         24059 non-null  int64
 20  postal_code       24059 non-null  int64
 21  city              24059 non-null  object
 22  state             24059 non-null  object
 23  sub_region        24059 non-null  object
 24  salesperson       24059 non-null  object
 25  customer_id       24059 non-null  object
 26  customer_name     24059 non-null  object
 27  segment           24059 non-null  object
dtypes: float64(5), int64(5), object(18)
memory usage: 5.1+ MB

In [8]:
print("\nReturns DataFrame Info:")
print("-----------------------")
returns.info()

Returns DataFrame Info:
-----------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1209 entries, 0 to 1208
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   order_id         1209 non-null   object
 1   return_date      1209 non-null   object
 2   Category         1209 non-null   object
 3   Sales            1209 non-null   float64
 4   Profit           1209 non-null   float64
 5   Profit Margin    1209 non-null   float64
 6   Margin Category  1209 non-null   object
 7   State            1209 non-null   object
 8   Customer Name    1209 non-null   object
 9   return_quantity  1209 non-null   int64
 10  reason_returned  1209 non-null   object
dtypes: float64(3), int64(1), object(7)
memory usage: 104.0+ KB


<div style="border-top: 3px solid black"></div>

<h3 style="color:blue">Check for duplicate records</h3>

<hr>

<h4 style="color:orange">OBSERVATION</h4>

Order ID # CA-2019-117947 was a duplicate record that needed to be deleted

In [9]:
duplicates = pd.DataFrame(
    {
        "Orders Duplicates": [orders.duplicated().sum()],
        "Returns Duplicates": [returns.duplicated().sum()],
    }
)

display(duplicates.style.hide_index())

In [10]:
# Identify and inspect all duplicates in the returns dataset
duplicates = returns[returns.duplicated(keep=False)]

# Display duplicates
print(duplicates)

         order_id return_date   Category  Sales  Profit  Profit Margin  \
7  CA-2019-117947  2019-09-11  Furniture   9.94    3.08       0.309859
8  CA-2019-117947  2019-09-11  Furniture   9.94    3.08       0.309859

  Margin Category  State Customer Name  return_quantity reason_returned
7          Medium  Texas    Nat Gilpin                1      Not Needed
8          Medium  Texas    Nat Gilpin                1      Not Needed

In [11]:
# Drop duplicates from the returns dataset
returns = returns.drop_duplicates()

# Verify the operation by checking duplicates again
print("Number of duplicates after deletion: ", returns.duplicated().sum())

Number of duplicates after deletion:  0

In [12]:
duplicates = pd.DataFrame(
    {
        "Orders Duplicates": [orders.duplicated().sum()],
        "Returns Duplicates": [returns.duplicated().sum()],
    }
)

display(duplicates.style.hide_index())

In [13]:
# Verify returns.info()
print("\nReturns DataFrame Info:")
print("-----------------------")
returns.info()

Returns DataFrame Info:
-----------------------
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1208 entries, 0 to 1208
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   order_id         1208 non-null   object
 1   return_date      1208 non-null   object
 2   Category         1208 non-null   object
 3   Sales            1208 non-null   float64
 4   Profit           1208 non-null   float64
 5   Profit Margin    1208 non-null   float64
 6   Margin Category  1208 non-null   object
 7   State            1208 non-null   object
 8   Customer Name    1208 non-null   object
 9   return_quantity  1208 non-null   int64
 10  reason_returned  1208 non-null   object
dtypes: float64(3), int64(1), object(7)
memory usage: 113.2+ KB

<div style="border-top: 3px solid black"></div>

<h3 style="color:#4682B4">Display a sample of the orders dataframe</h3>

In [14]:
orders.head()

,order_id,order_info_id,order_id_number,order_date,order_weekday,order_month,ship_date,ship_mode,product_id,category,sub_category,product_name,unit_cost,sales,profit,profit_margin,quantity,discount,discount_over_30,region_id,postal_code,city,state,sub_region,salesperson,customer_id,customer_name,segment
0,AE-2019-1231682,AE-2019,1231682,2019-12-18,Wednesday,December,2019-12-23,Second Class,TEC-MOT-10001535,Technology,Phones,"Motorola Headset, VoIP",23.95,95.80,0.33,0.003445,4,0.40,1,1488,47374,Richmond,Indiana,Central United States,Annelise Williams,GH-4665,Greg Hansen,Consumer
1,AE-2019-1263608,AE-2019,1263608,2019-12-26,Thursday,December,2019-12-31,Second Class,OFF-AVE-10004827,Office Supplies,Binders,"Avery Binder Covers, Recycled",11.43,3.43,0.33,0.096210,1,0.40,1,1488,78745,Austin,Texas,Central United States,Annelise Williams,GH-4665,Greg Hansen,Consumer
2,AE-2019-303016,AE-2019,303016,2019-12-18,Wednesday,December,2019-12-23,Second Class,TEC-MOT-10001535,Technology,Phones,"Motorola Headset, VoIP",23.95,95.80,0.33,0.003445,4,0.40,1,1488,52402,Cedar Rapids,Iowa,Central United States,Annelise Williams,GH-4665,Greg Hansen,Consumer
3,AE-2019-304471,AE-2019,304471,2019-12-27,Friday,December,2019-12-31,Second Class,TEC-MOT-10001535,Technology,Phones,"Motorola Headset, VoIP",23.95,95.80,0.33,0.003445,4,0.40,1,1488,60653,Chicago,Illinois,Central United States,Annelise Williams,GH-4665,Greg Hansen,Consumer
4,AE-2019-3123605,AE-2019,3123605,2019-11-30,Saturday,November,2019-12-05,Second Class,OFF-ROG-10001340,Office Supplies,Storage,"Rogers File Cart, Industrial",141.60,42.48,0.28,0.006591,1,0.35,1,1488,55901,Rochester,Minnesota,Central United States,Annelise Williams,PG-8820,Patrick Gardner,Consumer

In [15]:
# Are dates in a string format?
print(orders['order_date'].head())
print(orders['ship_date'].head())

0    2019-12-18
1    2019-12-26
2    2019-12-18
3    2019-12-27
4    2019-11-30
Name: order_date, dtype: object
0    2019-12-23
1    2019-12-31
2    2019-12-23
3    2019-12-31
4    2019-12-05
Name: ship_date, dtype: object

In [16]:
# Convert dates to a datetime format
orders['order_date'] = pd.to_datetime(orders['order_date'])
orders['ship_date'] = pd.to_datetime(orders['ship_date'])

<h3 style="color:#4682B4">Display a sample of the returns dataframe</h3>

In [17]:
returns.head()

,order_id,return_date,Category,Sales,Profit,Profit Margin,Margin Category,State,Customer Name,return_quantity,reason_returned
0,AE-2019-5740368,2020-01-06,Office Supplies,77.26,25.4958,0.33000,Medium,Illinois,Greg Hansen,1,Not Given
1,AG-2019-3960042,2019-04-24,Office Supplies,130.32,0.0000,0.00000,Medium,Indiana,Anemone Ratner,1,Not Given
2,AG-2019-553166,2020-01-04,Office Supplies,92.88,9.2880,0.10000,Medium,Michigan,Robert Dilbeck,1,Not Needed
3,AG-2019-5829085,2019-04-18,Office Supplies,130.32,0.0000,0.00000,Medium,Michigan,Anemone Ratner,1,Not Given
4,AG-2019-8240,2019-03-23,Office Supplies,130.32,51.8400,0.39779,Medium,Texas,Anemone Ratner,1,Not Given

<div style="border-top: 3px solid black"></div>

<h3 style="color:#4682B4">Dates to Datetime (as opposed to string format)</h3>

In [18]:
# Are dates in a string format?
print(returns['return_date'].head())

0    2020-01-06
1    2019-04-24
2    2020-01-04
3    2019-04-18
4    2019-03-23
Name: return_date, dtype: object

In [19]:
# Convert dates to a datetime format
returns["return_date"] = pd.to_datetime(returns["return_date"])

In [20]:
# Verification
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24059 entries, 0 to 24058
Data columns (total 28 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          24059 non-null  object
 1   order_info_id     24059 non-null  object
 2   order_id_number   24059 non-null  int64
 3   order_date        24059 non-null  datetime64[ns]
 4   order_weekday     24059 non-null  object
 5   order_month       24059 non-null  object
 6   ship_date         24059 non-null  datetime64[ns]
 7   ship_mode         24059 non-null  object
 8   product_id        24059 non-null  object
 9   category          24059 non-null  object
 10  sub_category      24059 non-null  object
 11  product_name      24059 non-null  object
 12  unit_cost         24059 non-null  float64
 13  sales             24059 non-null  float64
 14  profit            24059 non-null  float64
 15  profit_margin     24059 non-null  float64
 16  quantity          24059 non-null  int64
 17  discount          24059 non-null  float64
 18  discount_over_30  24059 non-null  int64
 19  region_id         24059 non-null  int64
 20  postal_code       24059 non-null  int64
 21  city              24059 non-null  object
 22  state             24059 non-null  object
 23  sub_region        24059 non-null  object
 24  salesperson       24059 non-null  object
 25  customer_id       24059 non-null  object
 26  customer_name     24059 non-null  object
 27  segment           24059 non-null  object
dtypes: datetime64[ns](2), float64(5), int64(5), object(16)
memory usage: 5.1+ MB

In [21]:
orders.shape

(24059, 28)

In [22]:
orders.dtypes.value_counts()

object            16
int64              5
float64            5
datetime64[ns]     2
dtype: int64

In [23]:
returns.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1208 entries, 0 to 1208
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   order_id         1208 non-null   object
 1   return_date      1208 non-null   datetime64[ns]
 2   Category         1208 non-null   object
 3   Sales            1208 non-null   float64
 4   Profit           1208 non-null   float64
 5   Profit Margin    1208 non-null   float64
 6   Margin Category  1208 non-null   object
 7   State            1208 non-null   object
 8   Customer Name    1208 non-null   object
 9   return_quantity  1208 non-null   int64
 10  reason_returned  1208 non-null   object
dtypes: datetime64[ns](1), float64(3), int64(1), object(6)
memory usage: 113.2+ KB

<div style="border-top: 3px solid black"></div>

<h3 style="color:#4682B4">Check for high cardinality (unique values per feature)</h3>

In [24]:
orders.nunique()

order_id            24022
order_info_id          84
order_id_number     23964
order_date            365
order_weekday           7
order_month            12
ship_date             371
ship_mode               4
product_id           6941
category                3
sub_category           17
product_name         3154
unit_cost            4247
sales                8631
profit                720
profit_margin       10711
quantity               14
discount               14
discount_over_30        2
region_id               1
postal_code           185
city                  172
state                  13
sub_region              1
salesperson             1
customer_id          1476
customer_name         794
segment                 3
dtype: int64

In [25]:
returns.nunique()

order_id           1208
return_date         353
Category              3
Sales               679
Profit              643
Profit Margin        50
Margin Category       2
State                13
Customer Name       448
return_quantity       3
reason_returned       4
dtype: int64

In [26]:
print(orders.isnull().any())
print(returns.isnull().any())
print("\n")
print("Number of total missing values in orders: ", orders.isnull().sum().sum())
print("Number of total missing values in returns: ", returns.isnull().sum().sum())

order_id            False
order_info_id       False
order_id_number     False
order_date          False
order_weekday       False
order_month         False
ship_date           False
ship_mode           False
product_id          False
category            False
sub_category        False
product_name        False
unit_cost           False
sales               False
profit              False
profit_margin       False
quantity            False
discount            False
discount_over_30    False
region_id           False
postal_code         False
city                False
state               False
sub_region          False
salesperson         False
customer_id         False
customer_name       False
segment             False
dtype: bool
order_id           False
return_date        False
Category           False
Sales              False
Profit             False
Profit Margin      False
Margin Category    False
State              False
Customer Name      False
return_quantity    False
reason_returned    False
dtype: bool


Number of total missing values in orders:  0
Number of total missing values in returns:  0

In [27]:
orders.describe().round(2)

,order_id_number,unit_cost,sales,profit,profit_margin,quantity,discount,discount_over_30,region_id,postal_code
count,24059.00,24059.00,24059.00,24059.00,24059.00,24059.00,24059.00,24059.00,24059.0,24059.00
mean,2943373.90,72.36,248.11,0.97,0.01,3.46,0.26,0.47,1488.0,65215.19
std,1765288.92,116.15,502.41,38.73,0.28,2.29,0.14,0.50,0.0,11352.61
min,40.00,0.42,0.44,-3839.99,-2.75,1.00,0.00,0.00,1488.0,46060.00
25%,1411105.00,11.60,29.91,0.10,0.00,2.00,0.15,0.00,1488.0,55369.00
50%,2935473.00,29.49,83.88,0.19,0.00,3.00,0.25,0.00,1488.0,63122.00
75%,4480046.00,83.31,248.15,0.29,0.01,5.00,0.35,1.00,1488.0,77095.00
max,5994245.00,2799.99,13999.96,1439.45,41.25,14.00,0.65,1.00,1488.0,79907.00

In [28]:
returns.describe().round(2)

         Sales   Profit  Profit Margin  return_quantity
count  1208.00  1208.00        1208.00          1208.00
mean    458.29   119.77           0.20             1.05
std     737.96   238.30           0.16             0.23
min       1.41  -135.31          -1.65             1.00
25%      66.54     7.77           0.10             1.00
50%     168.72    25.04           0.20             1.00
75%     473.68    98.61           0.29             1.00
max    5729.35  1890.69           0.90             3.00

In [29]:
# drop order_id_number
orders.drop('order_id_number', axis=1, inplace=True)

In [30]:
# drop discount_over_30
orders.drop('discount_over_30', axis=1, inplace=True)

In [31]:
# drop postal_code
orders.drop('postal_code', axis=1, inplace=True)

In [32]:
# Get the orders where the profit is negative
negative_profit_orders = orders[orders['profit'] < 0]

# Print the number of orders with negative profit
print("Number of orders with negative profit: ", len(negative_profit_orders))

# You could examine these orders in more detail, such as:
print(negative_profit_orders.head())

Number of orders with negative profit:  202
           order_id order_info_id order_date order_weekday order_month  \
367  CA-2019-102610       CA-2019 2019-11-05       Tuesday    November
387  CA-2019-104864       CA-2019 2019-11-19       Tuesday    November
410  CA-2019-107832       CA-2019 2019-11-24        Sunday    November
425  CA-2019-109085       CA-2019 2019-02-18        Monday    February
492  CA-2019-117394       CA-2019 2019-09-05      Thursday   September

     ship_date       ship_mode       product_id         category sub_category  \
367 2019-11-09  Standard Class  OFF-BI-10004364  Office Supplies      Binders
387 2019-11-24    Second Class  OFF-ST-10002301  Office Supplies      Storage
410 2019-11-27    Second Class  OFF-BI-10001658  Office Supplies      Binders
425 2019-02-21     First Class  FUR-CH-10003981        Furniture       Chairs
492 2019-09-11  Standard Class  TEC-AC-10000199       Technology  Accessories

                                          product_name  unit_cost   sales  \
367                            Storex Dura Pro Binders       1.78    3.56
387                        Tennsco Commercial Shelving      16.27   81.36
410                   GBC Standard Therm-A-Bind Covers       7.48    7.48
425  Global Commerce Series Low-Back Swivel/Tilt Ch...     179.89  899.43
492          Kingston Digital DataTraveler 8GB USB 2.0       4.76   19.04

     profit  profit_margin  quantity  discount  region_id          city  \
367   -2.97      -0.834270         2      0.10       1488     Milwaukee
387  -19.32      -0.237463         5      0.05       1488       Houston
410   -5.98      -0.799465         1      0.20       1488  Grand Rapids
425  -12.85      -0.014287         5      0.25       1488      Richmond
492   -1.43      -0.075105         4      0.10       1488        Dallas

         state             sub_region        salesperson customer_id  \
367  Wisconsin  Central United States  Annelise Williams    CA-12265
387      Texas  Central United States  Annelise Williams    JS-15685
410   Michigan  Central United States  Annelise Williams    FH-14275
425    Indiana  Central United States  Annelise Williams    CK-12325
492      Texas  Central United States  Annelise Williams    MM-17920

          customer_name      segment
367  Christina Anderson     Consumer
387            Jim Sink    Corporate
410        Frank Hawley    Corporate
425  Christine Kargatis  Home Office
492       Michael Moore     Consumer